* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}

.header,
.cover,
.lots,
.about,
.footer {
  max-width: 1100px;
  margin: 0 auto;
}

a {
  color: #000000;
  text-decoration: underline solid 1px;
  text-underline-offset: 4px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-bottom: 6px;
  padding: 0 50px;
  padding-top: 5px;
  opacity: 1;
}

.header__menu {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  gap: 32px;
  padding-right: 38px;
  padding-left: 0;
  list-style: circle;
}

.header__menu li:first-child {
  list-style: none; /*Тут я убрал маркер*/
}

.nav__spec {
  justify-self: start;
}

.nav__link {
  position: relative;
  display: inline-flex;
  gap: 13px;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration: underline solid 1px;
  text-underline-offset: 4px;
}

.nav__active {
  text-decoration: none;
  list-style-type: none;
}

.header__logo {
  display: block;
  padding: 89px 5px 87px 7px;
}

.address {
  display: flex;
  flex-direction: column;
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 134%;
  letter-spacing: 0;
}

.street {
  margin: 0;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.cover {
  position: relative;
  display: grid;
  max-width: 100%;
  min-height: 757px;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

.cover__text {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20px;
  min-width: 1000px;
  padding: 165px 50px 53px;
  color: #fff;
}

.cover__text-item {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-align: right;
  text-transform: uppercase;
}

.item-f {
  display: grid;
  justify-items: start;
  grid-column: 1/2;
  grid-row: 1/2;
  letter-spacing: 30px;
}

.item-s {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 14px;
  letter-spacing: 30px;
}

.item-t {
  grid-column: 1 / span 4;
  grid-row: 3/3;
  padding-left: 0px;
  letter-spacing: 30px;
}

.last-letter {
  letter-spacing: 0;
}

.description {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  align-items: center;
  min-width: 1000px;
  margin: 53px 50px 50px;
  color: #fff;
}

.description__text {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 637px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.description__button {
  position: relative;
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

 /** ВТОРАЯ СЕКЦИЯ С ЛОТАМИ**/

.lots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  max-width: 100%;
  height: auto;
  min-height: auto;
  margin: 30px 24px 0;
}

.lots__title {
  padding: 185px 65px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.listlots {
  position: relative;
  z-index: 2;
  flex: 0 0 calc(33.333% - 17px);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 596px;
  text-decoration: none;
}

.card {
  display: grid;
  align-content: space-between;
  width: 334px;
  height: 596px;
}

.background {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  position: relative;
  z-index: 2;
  display: block;
  max-width: 254px;
  width: 100%;
  margin: 48px 40px 0;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-underline-offset: 2.8px;
  text-transform: uppercase;
}

.card-text {
  position: relative;
  z-index: 2;
  margin: 0 40px 48px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.morelots {
  display: block;
  margin: 33px 0 0 63px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "logo about-title"
  ". about-project";
  column-gap: 24px;
  max-width: 100%;
  margin: 120px 24px 180px 24px;
}

.conteiner {
  display: flex;
  grid-area: logo;
  justify-content: center;
  align-items: center;
  max-width: 240px;
  width: 100%;
  height: 240px;
  margin: 35px 47px 0;
  border-radius: 100%;
  background-color: #000000;
}

.conteiner__logo {
  z-index: 2;
  width: 148px;
  height: 114px;
  opacity: 1;
}

.explain {
  display: contents;
}

.explain__title {
  grid-area: about-title;
  width: 100%;
  margin: 0;
  padding: 140px 402px 78px 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.explain__text {
  display: block;
  width: 693px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-right: 5.01px;
}

.about-project {
  display: grid;
  grid-area: about-project;
  row-gap: 24px;
  padding-top: 10px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  max-width: 100%;
  padding-bottom: 25px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 22px;
  list-style: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 48px;
  padding-right: 50px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__nav {
  justify-self: center;
  align-self: start;
}