* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  width: 1100px;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header,
.cover,
.lots,
.about,
.footer {
  max-width: 1100px;
  margin: 0 auto;
}

a {
  color: #000000;
  text-decoration: underline solid 1px;
  text-underline-offset: 4px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  max-width: 100%;
  height: 295px;
  padding: 0 50px;
  opacity: 1;
}

.header__menu {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  gap: 32px;
  padding-left: 0;
  list-style: circle;
}

.header__menu li:first-child {
  list-style: none; /*Тут я убрал маркер*/
}

.nav__spec {
  justify-self: start;
  padding-right: 38px;
}

.nav__link {
  position: relative;
  display: inline-flex;
  gap: 13px;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration: underline solid 1px;
  text-underline-offset: 4px;
}

.nav__active {
  text-decoration: none;
  list-style-type: none;
}

.header__logo {
  display: block;
  padding: 89px 5px 87px 7px;
}

.address {
  display: flex;
  flex-direction: column;
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0;
}

.street {
  margin: 0;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  max-height: 98px;
}

.cover {
  position: relative;
  display: grid;
  max-width: 100%;
  height: 757px;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__text {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20px;
  min-width: 1000px;
  min-height: 385px;
  padding: 165px 50px 53px;
  opacity: 1;
  color: #fff;
}

.cover__text-item {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-align: right;
  text-transform: uppercase;
}

.item-f {
  display: grid;
  justify-items: start;
  grid-column: 1/2;
  grid-row: 1/2;
  letter-spacing: 30px;
}

.item-s {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 14px;
  letter-spacing: 30px;
}

.item-t {
  grid-column: 1 / span 4;
  grid-row: 3/3;
  padding-left: 0px;
  letter-spacing: 30px;
}

.last-letter {
  letter-spacing: 0;
}

.description {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  align-items: center;
  width: 1000px;
  height: 51px;
  margin: 53px 50px 50px 50px;
  color: #fff;
}

.description__text {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 637px;
  height: 51px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 0;
}

.description__button {
  position: relative;
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.space {
  padding-right: 24px;
  padding-left: 24px;
}

 /** ВТОРАЯ СЕКЦИЯ С ЛОТАМИ**/

.lots {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 74px 596px 53px;
  grid-template-areas:
    "lots__title . . "
    "card-first card-second card-third"
    "morelots . . ";
  column-gap: 25px;
  margin-top: 180px;
  max-width: 100%;
}

.lots__title {
  grid-area: lots__title;
  padding-top: 5px;
  padding-left: 40px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.listlots {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.listlots__card {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
}

.card-first {
  grid-area: card-first;
  background: url(../images/card-lot-01.jpg) center/cover no-repeat;
}

.card-first-a {
  display: grid;
}

.card-second {
  grid-area: card-second;
  background: url(../images/card-lot-02.jpg) center/cover no-repeat;
}

.card-second-b {
  display: grid;
}

.card-third {
  grid-area: card-third;
  background: url(../images/card-lot-03.jpg) center/cover no-repeat;
}

.card-third-c {
  display: grid;
}

.listlots__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.morelots {
  display: grid;
  grid-area: morelots;
  align-items: end;
  padding-left: 40px;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.card-title {
  display: block;
  width: 254px;
  height: 110px;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-underline-offset: 2.8px;
  text-transform: uppercase;
}

.card-text {
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.title-f {
  display: block;
  height: 84px;
  margin: 48px 40px 137px 40px;
}
.text-f {
  margin: 134px 40px 48px 40px;
}

.title-s {
  margin: 48px 40px 15px 40px;
}
.text-s {
  margin: 15px 40px 48px 40px;
}

.title-t {
  margin: 48px 40px 63px 40px;
}
.text-t {
  margin: 63px 40px 48px 40px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "logo about-title"
  ". text-first"
  ". text-second";
  column-gap: 24px;
  padding-top: 120px;
  padding-bottom: 180px;
  max-width: 100%;
}

.conteiner {
  display: flex;
  grid-area: logo;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px 47px 0;
  border-radius: 100%;
  background-color: #000000;
}

.conteiner__logo {
  z-index: 2;
  width: 148px;
  height: 114px;
  opacity: 1;
}

.explain {
  display: contents;
}

.explain__title {
  grid-area: about-title;
  width: 100%;
  height: 259px;
  margin: 0;
  padding: 140px 402px 78px 0px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.explain__text-first {
  grid-area: text-first;
  width: 693px;
  margin: 0;
  padding-right: 10px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.explain__text-second {
  display: block;
  grid-area: text-second;
  width: 693px;
  margin-top: 24px;
  padding-right: 0px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.perfect {
  display: block;
}

.position {
  margin-top: 7px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  height: 180px;
  margin-top: 4px;
  max-width: 100%;
}

.footer__address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 22px;
  list-style: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 48px;
  padding-right: 50px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__nav {
  justify-self: center;
  align-self: start;
}