* {
  box-sizing: border-box;
}

.body {
  display: grid;
  width: 1100px;
  max-width: 100%;
  height: 100%;
}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  height: 293px;
  opacity: 1;
}

.header__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: end;
  gap: 32px;
  list-style: none;
}

.nav__spec {
  justify-self: start;
  padding-right: 38px;
}

.header__menu-item {
  display: contents;
}

.nav__link {
  position: relative;
  display: inline-flex;
  gap: 13px;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
}

.nav__active {
  padding-left: 50px;
}

.header__logo {
  display: flex;
  width: 148px;
  height: 105px;
  margin-left: 36,52px;
}

.cover {
  position: relative;
  display: grid;
  width: 100%;
  height: 757px;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__text {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: calc(20px);
  width: 1000;
  height: 385;
  padding: 165px 50px 53px;
  opacity: 1;
  color: #fff;
}

.cover__text-item {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: Bold;
  line-height: 115%;
  letter-spacing: 30%;
  text-align: right;
  text-transform: uppercase;
  leading-trim: NONE;
}

.item-f {
  display: grid;
  justify-items: start;
  grid-column: 1/2;
  grid-row: 1/2;
  letter-spacing: 35px;
}

.item-s {
  grid-column: 2/3;
  grid-row: 2/3;
  letter-spacing: 27px;
}

.item-t {
  grid-column: 3/3;
  grid-column: 1 / span 4;
  grid-row: 3/3;
  margin-right: -30px;
  letter-spacing: 28px;
}

.description {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  align-items: center;
  width: 1000px;
  height: 51px;
  margin: 53px 50px 50px 50px;
  color: #fff;
}

.description__text {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 637px;
  height: 51px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: 'Regular';
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  word-spacing: 0;
}

.description__button {
  position: relative;
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  font-style: Medium;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.space {
  padding-right: 24px;
  padding-left: 24px;
}

 /** ВТОРАЯ СЕКЦИЯ С ЛОТАМИ**/

.lots {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 74px 596px 53px;
  grid-template-areas:
    "lots__title . . "
    "card-first card-second card-third"
    "morelots . . ";
  column-gap: 25px;
  margin-top: 180px;
}

.lots__title {
  grid-area: lots__title;
  padding-left: 40px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.listlots {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  z-index: 2;
}

.listlots__card {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  z-index: 2;
}

.card-first {
  grid-area: card-first;
  background: url(../images/card-lot-01.jpg) center/cover no-repeat;
}

.card-first-a {
  display: grid;
  align-items: space-between;
}

.card-second {
  grid-area: card-second;
  background: url(../images/card-lot-02.jpg) center/cover no-repeat;
}

.card-second-b {
  display: grid;
  align-items: space-between;
}

.card-third {
  grid-area: card-third;
  background: url(../images/card-lot-03.jpg) center/cover no-repeat;
}

.card-third-c {
  display: grid;
  align-items: space-between;
}

.listlots__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.morelots {
  grid-area: morelots;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 20px;
  font-style: 'Regular';
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-underline-offset: 5px;
  display: grid;
  align-items: end;
  padding-left: 40px;
}

.card-title {
display: block;
width: 254px;
height: 110px;
font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 22px;
line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
text-decoration: underline;
text-decoration-style: solid;
text-underline-offset: 2.8px;
text-decoration-thickness: 0%;
color: #fff;

}

.card-text {
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 20px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
color: #fff;
}

.title-f {
  display: block;
  height: 84px;
  margin: 48px 40px 137px 40px;
}
.text-f {
  margin: 137px 40px 48px 40px;
}

.title-s {
  margin: 48px 40px 15px 40px;
}
.text-s {
  margin: 15px 40px 48px 40px;
}

.title-t {
  margin: 48px 40px 63px 40px;
}
.text-t {
  margin: 63px 40px 48px 40px;
}